@font-face {
  font-family: "iconfont"; /* Project id 2991177 */
  src: url('iconfont.woff2?t=1638774831654') format('woff2'),
       url('iconfont.woff?t=1638774831654') format('woff'),
       url('iconfont.ttf?t=1638774831654') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-lingdang:before {
  content: "\e602";
}

.icon-weixin-copy:before {
  content: "\e652";
}

.icon-weibo1:before {
  content: "\e62b";
}

.icon-icon_weibo:before {
  content: "\e608";
}

.icon-icon-weixin:before {
  content: "\e666";
}

.icon-shijian:before {
  content: "\e60b";
}

.icon-icon_icon_list:before {
  content: "\e644";
}

.icon-QQyouxiang:before {
  content: "\e605";
}

.icon-mail-back:before {
  content: "\e624";
}

.icon-search:before {
  content: "\e609";
}

